{% extends "base.html" %}

{% block title %}Contact Us - GLIMPRINT{% endblock %}

{% block content %}
<section class="page-header">
    <div class="container">
        <h1>Contact Us</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content-block">
            <div class="row">
                <div class="col-md-6">
                    <h3>Get in Touch</h3>
                    <p><strong>Email:</strong> <a href="mailto:glimprint.org@gmail.com">glimprint.org@gmail.com</a></p>
                    <p><strong>Website:</strong> <a href="https://www.unl.edu">www.unl.edu</a></p>
                </div>
                <div class="col-md-6">
                    <h3>Send us a Message</h3>
                    <p>We'd love to hear from you. Please send us an email directly.</p>
                    <a href="mailto:info@glimprint.org?subject=Contact GLIMPRINT" class="btn btn-primary">Send Email</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}